.ant-advanced-search-form {
    margin-top: 30px;
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
    display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
    flex: 1;
}

.ant-row .ant-form-item {
    width: 90%;
}

.ant-form-item-label {
    width: 150px;
}

.seletItem {
    width: 200px;
}

.list-table {
    padding: 10px;
    margin: 10px 0;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
}
.ant-calendar-picker {
    width: 100%;
}
