.imm-areaTree {
  margin: 30px 10px;
  width: 300px;
  border: 1px solid;
  min-height: 90%;
  float: left;
  border-radius: 6px;
}

.listArea {
  margin: 30px 20px;
  width: 70%;
  min-height: 90%;
  float: left;
}

.formItem {
  float: left;
  margin: 10px 20px;
  padding-top: 20px;
}

.spanInput {
  width: 20px;
  margin-right: 10px;
}

.buttonClass {
  margin: 0 20px;
}

.add-form-item {
  width: 60%;
}

.ant-form-item-label {
  padding-right: 20px;
}

.ant-row {
  margin-bottom: 10px;
}

.list-table {
  padding: 10px;
  margin: 150px 10px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}
